= render 'admin/polls/title_and_subnavigation', poll: @poll

.tokens-section
  .my-16
    .flex
      .w-full
        .flex.border-0.border-gray-200.border-b
          .text-gray-600{ class: 'w-1/2'}
            %h2 Tokens
          .relative{ class: 'w-1/2'}
            .absolute.bottom-0.right-0
              - if policy(@poll).show_token?
                = link_to 'Show unused token', unused_admin_poll_tokens_path(@poll), class: 'apollo-pink-link'
                |
              - if policy(@poll).update?
                = link_to 'Add tokens', new_admin_poll_token_path(@poll), class: 'apollo-pink-link'
        .tokens
          .flex.flex-wrap.my-8
            - @poll.tokens.each_with_index do |token, index|
              .text-center.border.border-gray-200.rounded.my-2{ class: 'w-full sm:w-1/2 md:w-1/4' }
                .m-6.text-xs.text-gray-600
                  .token Token

