.flex.my-5
  %div{ class: 'w-1/2' }
    %h1.text-gray-500 All polls
  %div{ class: 'w-1/2' }
    .h-full.relative
      = link_to 'New poll', new_admin_poll_path, class: 'absolute bottom-0 right-0'

.polls
  %ul
    - @polls.each do |poll|
      %li.poll.card.my-3
        .flex
          %div{ class: 'w-1/3' }
          %div{ class: 'w-2/3' }
            .flex.flex-wrap.py-5.px-3
              .w-full
                %div
                  %h2= link_to poll.title, admin_poll_path(poll)
                  %p.mt-2= poll.description
              .w-full.mt-3
                .text-xs.tracking-wider.uppercase= colorize_text(poll.state, poll.state)
