= simple_form_for @form do |f|
  .my-8
    .my-3
      = f.input :amount,
        as: :integer,
        input_html: { min: @form.class::MINIMUM_AMOUNT, max: @form.class::MAXIMUM_AMOUNT, class: 'w-full'},
        label: 'How many tokens would you like to add?',
        hint: 'Minimum 1, Maximum 1000'

  .my-8
    = f.submit 'Add tokens', class: 'apollo-pink-button'
    = link_to 'Cancel', @form.poll, class: 'shy-link'
