= simple_form_for [token.poll, token] do |f|
  = button_tag type: :submit,
    class: 'ui big circular icon green button',
    aria: { label: 'Add token' },
    title: 'Add token' do
    = semantic_icon 'plus'
