%h1.ui.horizontal.divider.header All polls

.ui.container.center.aligned.medium.vertical-space
  .polls
    - @polls.each do |poll|
      .poll
        .ui.stacked.segments
          .ui.segment
            %h2= link_to poll.title, poll, class: 'header'
          .ui.segment
            %p= poll.description

    .medium.vertical-space
      = link_to new_poll_path do
        .ui.circular.icon.green.button= semantic_icon 'plus'
        New poll
