.flex.my-5
  %div{ class: 'w-1/2' }
    %h1.text-gray-500 All polls
  %div{ class: 'w-1/2' }
    .h-full.relative
      .absolute.bottom-0.right-0
        - if @current_user.present?
          = link_to 'My polls', admin_polls_path
          |
        = link_to 'New poll', new_poll_path

= render 'index', polls: @polls
