.red-text { color: $red; }
.orange-text { color: $orange; }
.yellow-text { color: $yellow; }
.olive-text { color: $olive; }
.green-text { color: $green; }
.teal-text { color: $teal; }
.blue-text { color: $blue; }
.violet-text { color: $violet; }
.purple-text { color: $purple; }
.pink-text { color: $pink; }
.brown-text { color: $brown; }
.grey-text { color: $grey; }
.black-text { color: $black; }
