.vertical-space {
  &.mini { margin-top: 1rem; margin-bottom: 1rem; }
  &.tiny { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  &.small { margin-top: 2rem; margin-bottom: 2rem; }
  &.medium { margin-top: 2.5rem; margin-bottom: 2.5rem; }
  &.large { margin-top: 3rem; margin-bottom: 3rem; }
  &.big { margin-top: 3.5rem; margin-bottom: 3.5rem; }
  &.huge { margin-top: 4rem; margin-bottom: 4rem; }
  &.massive { margin-top: 5rem; margin-bottom: 5rem; }
}
