/*
$red: #db2828;
$orange: #f2711c;
$yellow: #fbbd08;
$olive: #b5cc18;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
$grey: #767676;
$black: #1b1c1d;
*/

@tailwind base;
@tailwind components;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg text-apollo-pink-300;
}

a {
  @apply text-apollo-pink-500;
}

a:hover {
  @apply text-apollo-pink-200;
}

label {
  @apply text-gray-500 text-sm;
}
input[type=text],
input[type=number],
input[type=email],
textarea {
  @apply block text-2xl py-3 px-2 bg-gray-200 w-full;
}

input[type=submit] {
  @apply text-apollo-pink-500 bg-transparent;
}

input[type=submit]:hover {
  @apply cursor-pointer text-apollo-pink-300;
}

.hint {
  @apply text-xs text-gray-500;
}

.apollo-pink-button {
  @apply rounded border border-apollo-pink-500 py-1 px-4 mr-2;
}

.apollo-pink-button:hover {
  @apply border-apollo-pink-200;
}

.shy-link {
  @apply text-gray-400;
}

.shy-link:hover {
  @apply text-apollo-pink-500;
}

.dangerous-link {
  @apply text-gray-400;
}

.dangerous-link:hover {
  @apply text-red-700;
}

.logo {
  img {
    width: 100%;
    max-width: 100%;
  }
}

.card {
  @apply rounded border border-gray-200 shadow-lg;
}

.footer {
  @apply my-16 py-10 text-gray-300 text-center;
}


@tailwind utilities;
