/*
$red: #db2828;
$orange: #f2711c;
$yellow: #fbbd08;
$olive: #b5cc18;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
$grey: #767676;
$black: #1b1c1d;
*/

@tailwind base;
@tailwind components;


a {
  @apply text-apollo-pink-500;
}

a:hover {
  @apply text-apollo-pink-200;
}

input {
  @apply text-apollo-pink-500 py-2 px-4 border-b-2 border-apollo-pink-500 bg-transparent;
}

input:hover {
  @apply cursor-pointer border-apollo-pink-300 text-apollo-pink-300;
}


.logo {
  img {
    width: 100%;
    max-width: 100%;
  }
}

@tailwind utilities;
